<!DOCTYPE html>
<html lang='en'>
<head>
<title><%= "#{@title}" %></title>
<meta charset=utf8 />
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/key.js"></script>
<script type="text/javascript" src="/js/autocomplete.js"></script>
</head>

<body>
  <!-- Header 
  =============================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href='/'>Hot or Not</a>
        <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Gallery<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/gallery/girls/1">Girls</a></li>    
              <li class="divider"></li>
              <li><a href="/gallery/boys/1">Boys</a></li>    
            </ul>
          </li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Vote<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/vote/girls">Girls</a></li>    
              <li class="divider"></li>
              <li><a href="/vote/boys">Boys</a></li>    
            </ul>
          </li>

          <li><a href="http://kiennt.herokuapp.com/pages/resume.html">About</a></li>
        </ul>

        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search" data-provide="autocomplete">
        </form>
        
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Sign in<b class="caret"></b>
            </a>
            <form class="well form-search dropdown-menu">
              <input type="text" class="input-small" placeholder="username"> 
              <input type="password" class="input-small" placeholder="password"> 
              <button type="submit" class="btn">Sign in</button>
            </form>
          </li>
          <li class="divider"></li>
        </ul>
      </div> 
    </div>
  </div>

  
  <!-- Main content
  =============================================== -->
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <div class="page-header"></div>
        <div class="page-header">
          <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            <!--<h1>Hot or not</h1>
            <p>Vote for image you like most. Help us find out which hostest girls</p>-->
            <h1>Hot or not</h1>
            <p>Find the girls you know by using search function. Try it out !!!</p>
          </div>
        </div>
      </div>
      <div class="span2"></div>
    </div>
   
    <div id="content"> 
      <%= yield %>
    </div>
    
    <!-- Footer
    =============================================== -->

    <div id="footer">
      <div class="row" style="margin-top:50px;margin-bottom:50px;">
        <div class="span6 offset3">
          <center>
          <p>An application from <a href="http://kiennt.herokuapp.com" target='blank'>KienNT</a></p>
          <!--
          <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" /></a>
          -->
          </center>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
// fix sub nav on scroll
var $win = $(window)
  , $nav = $('.subnav')
  , navTop = $('.subnav').length && $('.subnav').offset().top - 40
  , isFixed = 0

processScroll()

$win.on('scroll', processScroll)

function processScroll() {
  var i, scrollTop = $win.scrollTop()
  if (scrollTop >= navTop && !isFixed) {
    isFixed = 1
    $nav.addClass('subnav-fixed')
  } else if (scrollTop <= navTop && isFixed) {
    isFixed = 0
    $nav.removeClass('subnav-fixed')
  }
}

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-16274581-5']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</body>
</html>
