#menu-nav ul li {
  list-style-type: none;
  margin-left: 5px;
}

#pics-container {
  width: 760px;
  height: 760px;
}

.selected {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-width: 3px;
  border-color: #ff0000;
  margin: 0px 0px 0px 0px;
  float: left;
}

.selected img {
  width: 70px;
  height: 70px;
}

.item {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb500;
  margin: 2px 2px 2px 2px;
  float: left;
}

.item img {
  width: 70px;
  height: 70px;
}

.vote {
  width: 510px;
  height: 700px;
}

.voteimage {
  width: 250px;
  margin: 2px 2px 2px 2px;
  float: left;
}

.voteimage img {
  width: 250px;
}
